﻿@model TwoWheelsWeb.ViewModels.ForumViewModels.CreateCategoryViewModel

@{
    Page.Title = "Creating new category";
}

<div>
    @using (Html.BeginForm("CreateCategory", "Forum", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.Id)
        <div class="grid">
            <div class="row cells2">
                <div class="row">@Html.LabelFor(x => x.Category.Name)</div>
                <div class="row">@Html.EditorFor(x => x.Category.Name)</div>
            </div>
        </div>
        <button type="submit" class="button btn-warning">Create!</button>
    }
</div>