﻿@model TwoWheelsWeb.ViewModels.ForumViewModels.CreateTopicViewModel

@{
    Page.Title = "Create new topic";
}

<div>
    <h3>Create new topic</h3>
    <hr />
    <br />
    @using (Html.BeginForm("CreateTopic", "Forum", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.CategoryId)

        <div class="grid">
            <div class="row cells2">
                <div class="cell">@Html.LabelFor(x => x.Topic.Name)</div>
                <div class="cell">@Html.EditorFor(x => x.Topic.Name)</div>
            </div>
            <div class="row cells2">
                <div class="cell">@Html.LabelFor(x => x.Topic.Description)</div>
                <div class="cell">@Html.EditorFor(x => x.Topic.Description)</div>
            </div>
            <div class="row cells2">
                <div class="cell">@Html.LabelFor(x => x.Tags)</div>
                <div class="cell">@Html.EditorFor(x => x.Tags)</div>
                <p>Specify tags with commas</p>
            </div>
            <div>@Html.TextAreaFor(x => x.PostContent)</div>
        </div>
        <button class="button btn-warning">Create topic!</button>
    }
</div>

@section scripts{
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>

    <script type="text/javascript">
        tinyMCE.init({
            // General options
            mode: "textareas",
            theme: "modern",
            // Theme options
            theme_advanced_buttons1: "save,newdocument,|,bold,italic,underline," +
                "strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|," +
                "styleselect,formatselect,fontselect,fontsizeselect",
            theme_advanced_buttons2: "cut,copy,paste,pastetext,pasteword,|," +
                "search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|," +
                "link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|," +
                "forecolor,backcolor",
            theme_advanced_buttons3: "tablecontrols,|,hr,removeformat,visualaid,|," +
                "sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
            theme_advanced_buttons4: "insertlayer,moveforward,movebackward,absolute,|," +
                "styleprops,spellchecker,|,cite,abbr,acronym,del,ins,attribs,|," +
                "visualchars,nonbreaking,template,blockquote,pagebreak,|,insertfile,insertimage",
            theme_advanced_toolbar_location: "top",
            theme_advanced_toolbar_align: "left",
            theme_advanced_statusbar_location: "bottom",
            theme_advanced_resizing: true,

        // Example content CSS (should be your site CSS)
        // content_css: "css/example.css",
        });
    </script>
}