﻿@using TwoWheelsWeb.Models.ForumModels
@model TwoWheelsWeb.ViewModels.ForumViewModels.CategoryTopicsViewModel

@{
    Page.Title = "Topics";
}

<h3>Topics in @Model.CategoryName</h3>
<hr />
<br/>
<a href="@Url.Action("CreateTopic", "Forum", new {id=Model.CategoryId})" class="button btn-warning"><span class=""></span> Create new topic!</a>
<br/>
<div>
    <table class="table">
        <thead>
        <tr>
            <th>Posts number</th>
            <th>Topic</th>
            <th>Start date</th>
        </tr>
        </thead>
        <tbody>
        @if (Model.SubCategories != null && Model.SubCategories.Count > 0)
        {
            foreach (var subCategory in Model.SubCategories)
            {
                if (subCategory == null)
                {
                    continue;
                }
                <tr>
                    <td><b><a href="@Url.Action("GetCategoryTopics", new {id=subCategory.ObjectId})">@subCategory.Name</a></b></td>
                    <td>#</td>
                    <td>#</td>
                </tr>
            }
        }
        @if (Model.Topics == null || Model.Topics.Count == 0)
        {
            <tr>
                <td>#</td>
                <td>There is no topics here!</td>
                <td>#</td>
            </tr>
        }
        else
        {
            foreach (Topic topic in Model.Topics)
            {
                <tr>
                    <td>@topic.Posts.Count</td>
                    <td><a href="@Url.Action("GetTopic", new { id = topic.ObjectId })">@topic.Name</a></td>
                    <td>@topic.StartDate</td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>