﻿@model TwoWheelsWeb.ViewModels.ForumViewModels.TopicContentViewModel

@{
    Page.Title = Model.Topic.Name;
}

<h2>@Model.Topic.Name</h2>
<hr>
<br/>

<div class="panel panel-default">
    <div class="panel-heading">Tags:</div>
    <div class="panel-body">
        @foreach (var topicTag in Model.Topic.Tags)
        {
            <a href="@Url.Action("SearchByTag", "Forum", new { tag= topicTag.Name })">@topicTag.Name </a>
        }
    </div>
</div>

<div class="grid">
    @foreach (var item in @Model.Posts)
    {
        <div class="row">
            <div class="col-md-9 col-md-push-3">@Html.Raw(item.Post.Content)</div>
            <div class="col-md-3 col-md-pull-9">@item.Username<br/>@item.Post.PostDate.ToShortDateString()</div>
        </div>
    }
</div>
<br/>

<div id="newPostForm"></div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function() {
            $.ajax({
                type: "GET",
                url: "/Forum/CreatePost?id=" + '@Model.Topic.ObjectId',
                datatype: "html",
                success: function(data) {
                    $('#newPostForm').html(data);
                },
                error: function() {
                    alert("Something gone wrong!");
                }
            });
        });
    </script>
}
