﻿@using TwoWheelsWeb.ViewModels
@model ForumViewModels.ForumMainPageViewModel

@{
    Page.Title = "Forum";
}

<h3>Forum</h3>
<br/>

<a href="@Url.Action("CreateCategory", "Forum")" class="button btn-warning"><span class=""></span> Add category!</a>

<div>
    <table class="table">
        <thead>
        <tr>
            <th>Category</th>
        </tr>
        </thead>
        <tbody>
        @if (Model.List == null || Model.List.Count < 1)
        {
            <tr><td><div>@Html.Raw("There is nothing here!")</div></td></tr>
        }
        else
        {
            foreach (var item in Model.List)
            {
                <tr>
                    <td>
                        <b><a href="@Url.Action("GetCategoryTopics", new {id = item.Category.ObjectId})">@item.Category.Name</a></b>
                    </td>
                    <td>
                        <a href="@Url.Action("CreateCategory", "Forum", new {id=item.Category.ObjectId})" class="button btn-warning"><span class=""></span> Add subcategory!</a>
                    </td>
                </tr>
                if (item.Category.SubCategories != null && item.Category.SubCategories.Count > 0)
                {
                    foreach (var subCategory in item.SubCategories)
                    {
                        if (subCategory == null)
                        {
                            continue;
                        }
                        <tr>
                            <td>
                                <a href="@Url.Action("GetCategoryTopics", new {id=subCategory.ObjectId})">@subCategory.Name</a>
                            </td>
                        </tr>    
                    }
                }
            }
        }
        </tbody>
    </table>
</div>