﻿@using TwoWheelsWeb.Models.ForumModels
@model TwoWheelsWeb.ViewModels.ForumViewModels.SearchedTopicsViewModel

@{
    Page.Title = "Topics connected with tag";
}

<div class="panel panel-default">
    <div class="panel-heading">Topics connected with @Model.SearchedTag tag:</div>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Posts number</th>
                <th>Topic</th>
                <th>Start date</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Topics == null || Model.Topics.Count == 0)
            {
                @Html.Raw("There is no topics here!")
            }
            else
            {
                foreach (Topic topic in Model.Topics)
                {
                    <tr>
                        <td>@topic.Posts.Count</td>
                        <td><a href="@Url.Action("GetTopic", new {id=topic.ObjectId})">@topic.Name</a></td>
                        <td>@topic.StartDate</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>