﻿@using System.Net.Http
@using TwoWheelsWeb.Services
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Two Wheels | @Page.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link type="text/css" href="~/Content/metro.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/metro-responsive.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/metro-icons.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/metro-colors.css" rel="stylesheet"/>
    
    <style>        
        html{
            height: 100%;
        }

        .page-content {
            display: table;
            height: inherit;
            width: 100%;
        }
        
        body {
            font-size: 95%;
        }

        .flex-grid{
            display: table-cell; 
            padding-top: 3.125rem;
            width: 100%;
        }

        .hoverable:hover {
            background-color: lavender;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Two Wheels", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("My motorcycles", "Index", "Motorcycle")</li>
                    <li>@Html.ActionLink("Reviews", "Index", "Review")</li>
                    <li>@Html.ActionLink("Forum", "Index", "Forum")</li>
                </ul>
                @if (!TokenService.IsAuthenticated())
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="@Url.Action("Login", "Account")"><span class="glyphicon glyphicon-user"></span> Login</a></li>
                        <li><a href="@Url.Action("Register", "Account")"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> @TokenService.UserName</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                    </ul>
                }
                
            </div>
        </div>
    </div>
    <div class="container body-content" style="margin-top: 75px; width: 1000px;">
        @RenderBody()
        <hr />
        <footer>
            <p> @DateTime.Now.Year - TwoWheels by Adam Kępa</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="~/Scripts/metro.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
