﻿@model TwoWheelsWeb.ViewModels.MotorcycleViewModels.AddRefuelingViewModel

@{
    Page.Title = "Add refueling";
}

<div>
    @using (Html.BeginForm("AddRefueling", "Motorcycle", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.UserMotorcycleId)
        <div>
            <div class="grid">
                <div class="row cells2">
                    <div class="cell">
                        @Html.LabelFor(x => x.Refuel.CurrentMileage)
                    </div>
                    <div class="cell">
                        @Html.EditorFor(x => x.Refuel.CurrentMileage)
                    </div>
                </div>
                <div class="row cells2">
                    <div class="cell">
                        @Html.LabelFor(x => x.Refuel.FuelCapacity)
                    </div>
                    <div class="cell">
                        @Html.EditorFor(x => x.Refuel.FuelCapacity)
                    </div>
                </div>
                <div class="row cells2">
                    <div class="cell">
                        @Html.LabelFor(x => x.Refuel.FuelUnitPrice)
                    </div>
                    <div class="cell">
                        @Html.EditorFor(x => x.Refuel.FuelUnitPrice)
                    </div>
                </div>
                <div class="row cells2">
                    <div class="cell">
                        @Html.LabelFor(x => x.Refuel.RefuelingPrice)
                    </div>
                    <div class="cell">
                        @Html.EditorFor(x => x.Refuel.RefuelingPrice)
                    </div>
                </div>
            </div>
            <button class="btn btn-warning" type="submit">Add!</button>
        </div>
    }
</div>
