﻿@model TwoWheelsWeb.ViewModels.MotorcycleViewModels.ChangePartViewModel

@{
    Page.Title = "Changing part";
}

<div>
    @using (Html.BeginForm("ChangePart", "Motorcycle", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.UserMotorcycleId)
        <div class="grid">
            <div class="row cells2">
                <div class="cell">@Html.LabelFor(x => x.OperatingPartName)</div>
                <div class="cell">@Html.EditorFor(x => x.OperatingPartName)</div>
            </div>
            <div class="row cells2">
                <div class="cell">@Html.LabelFor(x => x.CurrentMileage)</div>
                <div class="cell">@Html.EditorFor(x => x.CurrentMileage)</div>
            </div>
        </div>
        <button class="btn btn-warning" type="submit">Change!</button>
    }
</div>