﻿@model TwoWheelsWeb.ViewModels.MotorcycleViewModels.MotorcycleModelViewModel

@{
    ViewBag.Title = "Creating motorcycle model";
}

<div>
    <h3>Create new motorcycle model</h3>
    <hr/>
    <br/>
    @using (Html.BeginForm("CreateModel", "Motorcycle", FormMethod.Post))
    {
        <div>
            <div class="grid">
                <div class="row cells2">
                    <div class="cell">
                        @Html.LabelFor(x => x.MotorcycleModel.Type)
                    </div>
                    <div class="cell">
                        @Html.DropDownListFor(x => x.MotorcycleModel.Type, new SelectList(Model.MotorcycleTypes, Model.MotorcycleModel.Type), "- Please Select -")
                    </div>
                </div>
                <div class="row cells2">
                    <div class="cell">
                        @Html.LabelFor(x => x.MotorcycleModel.Mark)
                    </div>
                    <div class="cell">
                        @Html.EditorFor(x => x.MotorcycleModel.Mark)
                    </div>
                </div>
                <div class="row cells2">
                    <div class="cell">
                        @Html.LabelFor(x => x.MotorcycleModel.Model)
                    </div>
                    <div class="cell">
                        @Html.EditorFor(x => x.MotorcycleModel.Model)
                    </div>
                </div>
                <div class="row cells2">
                    <div class="cell">
                        @Html.LabelFor(x => x.MotorcycleModel.ProductionYear)
                    </div>
                    <div class="cell">
                        @Html.EditorFor(x => x.MotorcycleModel.ProductionYear)
                    </div>
                </div>
            </div>
            <button class="btn btn-warning" type="submit">Create!</button>
        </div>
    }
</div>