﻿@model TwoWheelsWeb.ViewModels.MotorcycleViewModels.CreateOperatingPartViewModel

@using (Html.BeginForm("CreatePart", "Motorcycle", FormMethod.Post))
{
    @Html.HiddenFor(x => x.UserMotorcycleId)
    <div class="grid">
        <div class="row cells2">
            <div class="cell">@Html.LabelFor(x => x.OperatingPart.Name)</div>
            <div class="cell">@Html.EditorFor(x => x.OperatingPart.Name)</div>
        </div>
        <div class="row cells2">
            <div class="cell">@Html.LabelFor(x => x.OperatingPart.LifeSpanInKilometers)</div>
            <div class="cell">@Html.EditorFor(x => x.OperatingPart.LifeSpanInKilometers)</div>
        </div>
    </div>
    <br/>
    <hr/>
    <button class="btn-finish button">Save!</button>
}
