﻿@model TwoWheelsWeb.Models.MotorcycleModels.UserMotorcycle

@{
    ViewBag.Title = "Personalize your motorcycle";
}

@using (Html.BeginForm("Create", "Motorcycle", FormMethod.Post))
{
    @Html.HiddenFor(x => x.MotorcycleModelId)
    <div>
        <div class="grid">
            <div class="row cells2">
                <div class="cell">
                    @Html.LabelFor(x => x.Name)
                </div>
                <div class="cell">
                    @Html.EditorFor(x => x.Name)
                </div>
            </div>
            <div class="row cells2">
                <div class="cell">
                    @Html.LabelFor(x => x.CurrentMileage)
                </div>
                <div class="cell">
                    @Html.EditorFor(x => x.InitialMileage)
                </div>
            </div>
        </div>
        <button class="btn btn-warning" type="submit">Create!</button>
    </div>

}