﻿@model TwoWheelsWeb.ViewModels.MotorcycleViewModels.MotorcycleDetailsViewModel

@{
    Page.Title = "Details of your motorcycle";
}

<h3>@Model.Name details</h3> 
<br>
<a href="@Url.Action("RefuelingsSummary", new {id = Model.UserMotorcycleId, fuel = Model.AverageFuelConsumption})" class="button btn-warning"><span class=""></span> Refuelings</a>
<hr/>
<br/>

<div>
    <div class="grid">
        <div class="row cells2">
            <div class="cell">@Html.LabelFor(x => x.Name):</div>
            <div class="cell">@Model.Name</div>
        </div>
        <div class="row cells2">
            <div class="cell">@Html.LabelFor(x => x.Type):</div>
            <div class="cell">@Model.Type</div>
        </div>
        <div class="row cells2">
            <div class="cell">@Html.LabelFor(x => x.Mark):</div>
            <div class="cell">@Model.Mark</div>
        </div>
        <div class="row cells2">
            <div class="cell">@Html.LabelFor(x => x.Model):</div>
            <div class="cell">@Model.Model</div>
        </div>
        <div class="row cells2">
            <div class="cell">@Html.LabelFor(x => x.ProductionYear):</div>
            <div class="cell">@Model.ProductionYear</div>
        </div>
        <div class="row cells2">
            <div class="cell">@Html.LabelFor(x => x.InitialMileage):</div>
            <div class="cell">@Model.InitialMileage</div>
        </div>
        <div class="row cells2">
            <div class="cell">@Html.LabelFor(x => x.CurrentMileage)</div>
            <div class="cell">@Model.CurrentMileage</div>
        </div>
        <div class="row cells2">
            <div class="cell">@Html.LabelFor(x => x.AverageFuelConsumption)</div>
            <div class="cell">@Model.AverageFuelConsumption</div>
        </div>
    </div>
    <hr />
    <div class="grid">
        @for (int i = 0; i < @Model.OperatingParts.Count; i++)
        {
            <div class="row cells2">
                <div class="cell">Name:</div>
                <div class="cell">@Model.OperatingParts[i].Name</div>
            </div>
            <div class="row cells2">
                <div class="cell">Last change:</div>
                <div class="cell">@Model.OperatingParts[i].LastChange</div>
            </div>
            <div class="row cell">
                <div class="progress gradient-bar" data-value="@Model.OperatingParts[i].UsePercentage*100" data-role="progress">
                    <div class="bar default" style="width: @Model.OperatingParts[i].UsePercentage*100%;"></div>
                </div>
            </div>
            <div class="row cell">
                <button type="button" onClick="changePart('@Model.UserMotorcycleId', '@Model.OperatingParts[i].Name')" class="button btn-warning">Change part</button>
            </div>
        }
    </div>
    <br/>
    <a href="@Url.Action("CreatePart", new {id=@Model.UserMotorcycleId})" class="button btn-warning">Create Part</a>

</div>

<div id="changePartDialog" data-role="dialog" data-overlay="true" data-close-button="true" data-type="warning">
</div>

@section scripts{
    <script type="text/javascript">
        function changePart(id, name) {
            $.ajax({
                type: "GET",
                url: "/Motorcycle/ChangePart?id=" + id + "&name=" + name,
                datatype: "html",
                success: function (data) {
                    $('#changePartDialog').html(data);
                    metroDialog.open('#changePartDialog');
                }
            });    
        };
    </script>
}