﻿@model List<TwoWheelsWeb.ViewModels.MotorcycleViewModels.MotorcycleModuleViewModel>
@{
    ViewBag.Title = "Your machines";
}

<div>
    <h2>Your machines</h2>
    <a href="@Url.Action("MotorcycleModels")" class="button btn-warning" ><span class=""></span> Add your motorcycle!</a>
    <hr />
    <div>
        <table class="table">
            <thead>
            <tr>
                <td>Type</td>
                <td>Name</td>
                <td>Mark</td>
                <td>Model</td>
                <td>Production year</td>
                <td>Current mileage</td>
                <td>Details</td>
            </tr>
            </thead>
            <tbody>
            @if (Model == null)
            {
                @Html.Raw("You don't have any motocycles added to system")
            }
            else
            {
                for (int i = 0; i < Model.Count; i++)
                 {
                     <tr class="hoverable">
                         <td>@Model[i].Type</td>
                         <td>@Model[i].Name</td>
                         <td>@Model[i].Mark</td>
                         <td>@Model[i].Model</td>
                         <td>@Model[i].ProductionYear</td>
                         <td>@Model[i].CurrentMileage</td>
                         <td><a href="@Url.Action("Details", new {id = Model[i].UserMotorcycleId})" class="button btn-warning">Details</a></td>
                     </tr>
                 }
            }
            </tbody>
        </table>
    </div>

@*    <div id="selectModelDialog" data-role="dialog" data-overlay="true" data-close-button="true" data-type="warning">*@
@*        <div data-role="preloader" data-type="cycle" data-style="color"></div>*@
@*    </div>*@
</div>

@*@section scripts{*@
@*    <script type="text/javascript">*@
@*    *@
@*        function selectModel() {*@
@*            metroDialog.open('#selectModelDialog');*@
@*            $.ajax({*@
@*                type: "GET",*@
@*                url: "/Motorcycle/MotorcycleModels",*@
@*                datatype: "html",*@
@*                success: function(data) {*@
@*                    $('#selectModelDialog').html(data);*@
@*                }*@
@*            });*@
@*        }*@
@*    </script>*@
@*}*@