﻿@model TwoWheelsWeb.ViewModels.MotorcycleViewModels.ManageOperatingPartsViewModel

@{
    Page.Title = "Personalize";
}

<div>
    <h3>Adjust monitoring your motorcycles operating parts</h3>
    <br/>
    <div class="alert alert-info">
        <strong>Info!</strong> Want to have more control? <a onclick="addPart('@Model.UserMotorcycleId')" style="cursor: pointer" class="alert-link">Add your operating part!</a>
    </div>
    @using (Html.BeginForm("ManageOperatingParts", "Motorcycle", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.UserMotorcycleId)
        <div class="grid">
            @for (int i = 0; i < Model.OperatingParts.Count; i++)
            {
                <div class="row cells2">
                    <div class="cell">
                        @Html.LabelFor(x => x.OperatingParts[i].Name)
                    </div>
                    <div class="cell">
                        @Html.EditorFor(x => x.OperatingParts[i].Name)
                    </div>
                </div>
                <div class="usageDiv">
                    <div class="row cells2">
                        <div class="cell">
                            <button class="button btn-warning btn-km" type="button" disabled>Last change [km] ago</button>
                        </div>
                        <div class="cell">
                            <button class="button btn-warning btn-percentage" type="button">Use percentage</button>
                        </div>
                    </div>
                    <div class="row cells2 kilometer">
                        <div class="cell">
                            @Html.LabelFor(x => x.OperatingParts[i].LastChange)
                        </div>
                        <div class="cell">
                            @Html.EditorFor(x => x.OperatingParts[i].LastChange)
                        </div>
                    </div>
                    <div class="row cells2 percentage">
                        <div class="cell">
                            @Html.LabelFor(x => x.OperatingParts[i].UsePercentage)
                        </div>
                        <div class="cell">
                            @Html.EditorFor(x => x.OperatingParts[i].UsePercentage)
                        </div>
                    </div>
                </div>
                <div class="row cells2">
                    <div class="cell">
                        @Html.LabelFor(x => x.OperatingParts[i].LifeSpanInKilometers)
                    </div>
                    <div class="cell">
                        @Html.EditorFor(x => x.OperatingParts[i].LifeSpanInKilometers)
                    </div>
                </div>
                <hr/>
            }
        </div>
        <button class="btn btn-warning" type="submit">Create!</button>
    }
</div>

@*dialogs*@
<div id="addPartDialog" data-role="dialog" data-overlay="true" data-close-button="true" data-type="warning">
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function() {
            $(".btn-percentage").click(function() {
                $(this).siblings('.btn-km').prop('disabled', false);
                $(this).prop('disabled', true);
                $(this).parent().find('.kilometer').prop('disabled', true);
                $(this).parent().find('.percentage').prop('disabled', false);
            });
            $(".btn-km").click(function () {
                $(this).prop('disabled', true);
                $(this).parent().find('.btn-percentage').prop('disabled', false);
                $(this).parent().find('.kilometer').prop('disabled', false);
                $(this).parent().find('.percentage').prop('disabled', true);
            });
        });

        function addPart(id) {
            $.ajax({
                type: "GET",
                url: "/Motorcycle/CreatePart?id=" + id,
                datatype: "html",
                success: function(data) {
                    $('#addPartDialog').html(data);
                    metroDialog.open('#addPartDialog');
                },
                error: function() {
                    alert("Something gone wrong");
                }
            });
        }
    </script>
}
