﻿@model List<TwoWheelsWeb.Models.MotorcycleModels.MotorcycleModel>

@{
    Page.Title = "Motorcycle models";
}


<div>
    <h4>Motorcycle models in our base</h4>
    <hr/>
    <div class="alert alert-info">
        <strong>Info!</strong> You can't find your model in database? <a href="@Url.Action("CreateModel")" class="alert-link">Create it!</a>.
    </div>
    <div id="notSelected" class="alert-danger alert">
        You must select a model!
    </div>
    <table id="table"
           class="table"
           data-toggle="table"
           data-search="true"
           data-filter-control="true"
           data-pagination="true"
           data-page-list="[10, 25, 50, 500]"
           data-show-refresh="true"
           stickyHeader="true"
           data-show-columns="true"
           data-show-export="true"
           data-click-to-select="true"
           data-toolbar="#toolbar">
        <thead>
        <tr>
            <th data-sortable="true">Type</th>
            <th data-sortable="true">Mark</th>
            <th data-sortable="true">Model</th>
            <th data-sortable="true">Production year</th>
        </tr>
        </thead>
        <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr class="hoverable">
                <td onclick="selectModel('@Model[i].ObjectId')" style="cursor: pointer">@Model[i].Type</td>
                <td onclick="selectModel('@Model[i].ObjectId')" style="cursor: pointer">@Model[i].Mark</td>
                <td onclick="selectModel('@Model[i].ObjectId')" style="cursor: pointer">@Model[i].Model</td>
                <td onclick="selectModel('@Model[i].ObjectId')" style="cursor: pointer">@Model[i].ProductionYear</td>
            </tr>
        }
        </tbody>
    </table>
    <br/>
    <button class="btn-info" onclick="modelSelected()">Personalize</button>
</div>

@section scripts{
    
    <script type="text/javascript">

        var selectedModel = "0";

        function selectModel(id) {
            selectedModel = id;
        }

        function modelSelected() {
            if (selectedModel !== "0") {
                $.ajax({
                    type: "GET",
                    url: "/Motorcycle/RedirectToCreate?id=" + selectedModel,
                    datatype: "json",
                    success: function (response) {
                            window.location.href = response.url;
                    },
                    error: function (httpRequest, textStatus, errorThrown) {
                        alert("Error: " + textStatus + " " + errorThrown + " " + httpRequest);
                    }
                });
            } else {
                $('#notSelected').show();
            };
        }

        $(document).ready(function () {

            $('#notSelected').hide();
        });
    </script>
}

