﻿@model TwoWheelsWeb.ViewModels.MotorcycleViewModels.RefuelingSummaryViewModel
    
@{
    Page.Title = "Refuelings";
}

<h3>Refuelings Summary</h3>
<br>
<a onclick="addRefueling()" class="button btn-warning"><span class=""></span>Add Refueling</a>
<hr />
<br />

<div>
    @Html.HiddenFor(x => x.UserMotorcycleId)
    <div class="grid">
        <div class="row cells2">
            <div class="cell">
                @Html.LabelFor(x => x.AverageFuelConsumption)
            </div>
            <div class="cell">
                @Model.AverageFuelConsumption
            </div>
        </div>
    </div>
    <div id="refuelingsList"></div>
</div>

<div id="addRefuelingDialog" data-role="dialog" data-overlay="true" data-close-button="true" data-type="warning">
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function() {
            $.ajax({
                type: "GET",
                url: "/Motorcycle/Refuelings?id=" + '@Model.UserMotorcycleId',
                datatype: "html",
                success: function(data) {
                    $('#refuelingsList').html(data);
                },
                error: function() {
                    alert("Something gone wrong :/");
                }
            });
        });

        function addRefueling() {
            $.ajax({
                type: "GET",
                url: "/Motorcycle/AddRefueling?id=" + '@Model.UserMotorcycleId',
                datatype: "html",
                success: function(data) {
                    $('#addRefuelingDialog').html(data);
                    metroDialog.open('#addRefuelingDialog');
                },
                error: function() {
                    alert("Something gone wrong :/");
                }
            });
        }
    </script>
}