﻿@model List<TwoWheelsWeb.Models.MotorcycleModels.Refuel>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Current mileage</th>
                <th>Unit fuel price</th>
                <th>Fuel capacity</th>
                <th>Refueling price</th>
                <th>Last fuel consumption</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
        @if (Model != null)
        {
            for (int i = 0; i < @Model.Count; i++)
             {
                 <tr>
                     <td>i</td>
                     <td>@Model[i].CurrentMileage</td>
                     <td>@Model[i].FuelUnitPrice</td>
                     <td>@Model[i].FuelCapacity</td>
                     <td>@Model[i].RefuelingPrice</td>
                     <td>@Model[i].RefuelingPrice</td>
                     <td>@Model[i].LastFuelConsumption</td>
                     <td>@Model[i].Date</td>
                 </tr>
             }
        }
        else
        {
            <p>You did not enter any refueling yet</p>
        }
        </tbody>
    </table>
</div>