﻿@model TwoWheelsWeb.ViewModels.AccountViewModels.LoginViewModel

@{
    Page.Title = "TwoWheels | Login";
}

<div>
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div>
            @Html.LabelFor(x => x.Email)
            @Html.EditorFor(x => x.Email)
        </div>
        <br/>
        <div>
            @Html.LabelFor(x => x.Password)
            @Html.EditorFor(x => x.Password)
        </div>
        <br />
        <button type="submit">Login !</button>
    }
</div>