﻿@model TwoWheelsWeb.ViewModels.AccountViewModels.RegisterViewModel

@{
    Page.Title = "";
}

<div>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div>
            @Html.LabelFor(x => x.Email)
            @Html.TextBoxFor(x => x.Email)
        </div>
        <br />
        <div>
            @Html.LabelFor(x => x.Password)
            @Html.PasswordFor(x => x.Password)
        </div>
        <br />
        <div>
            @Html.LabelFor(x => x.ConfirmPassword)
            @Html.PasswordFor(x => x.ConfirmPassword)
        </div>
        <br />
        <button type="submit">Register</button>
    }
</div>