﻿@model TwoWheelsWeb.Models.ReviewModels.GearCategory

@{
    Page.Title = "Add new gear category";
}


<div>
    <h3>Create new gear category</h3>
    <hr />
    <br />
    <div>
        @using (Html.BeginForm("CreateGearCategory", "Review", FormMethod.Post))
        {
            <div class="grid">
                <div class="row cells2">
                    <div class="cell">@Html.LabelFor(x => x.Category)</div>
                    <div class="cell">@Html.EditorFor(x => x.Category)</div>
                </div>
            </div>
            <button class="button btn-warning">Create!</button>
        }
    </div>
</div>