﻿@model TwoWheelsWeb.ViewModels.ReviewViewModels.CreateReviewViewModel

<div>
    <h3>Add new review for @Model.ObjectId</h3>
    <hr />
    <br />
    <div>
        @using (Html.BeginForm("CreateReview", "Review", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.ObjectId)

            <div class="grid">
                <div class="row cells2">
                    <div class="cell">@Html.LabelFor(x => x.Review.Stars)</div>
                    <div class="cell">@Html.EditorFor(x => x.Review.Stars)</div>
                </div>
                <div class="row cells2">
                    <div class="cell">@Html.LabelFor(x => x.Review.Content)</div>
                    <div class="cell">@Html.EditorFor(x => x.Review.Content)</div>
                </div>
            </div>

            <button type="submit" class="button btn-warning">Create!</button>
        }
    </div>
</div>