﻿@model TwoWheelsWeb.ViewModels.ReviewViewModels.CreateGearViewModel

@{
    Page.Title = "Add new gear element";
}

<div>
    <h3>Add new gear element</h3>
    <hr/>
    <br/>
    <div>
        @using (Html.BeginForm("CreateGear", "Review", FormMethod.Post))
        {
            <div class="grid">
                <div class="row cells2">
                    <div class="cell">@Html.LabelFor(x => x.Gear.Mark)</div>
                    <div class="cell">@Html.EditorFor(x => x.Gear.Mark)</div>
                </div>
                <div class="row cells2">
                    <div class="cell">@Html.LabelFor(x => x.Gear.Model)</div>
                    <div class="cell">@Html.EditorFor(x => x.Gear.Model)</div>
                </div>
                <div class="row cells2">
                    <div class="cell">@Html.LabelFor(x => x.Gear.GearCategory)</div>
                    <div class="cell">@Html.DropDownListFor(x => x.Gear.GearCategory, new SelectList(Model.GearCategories.Select(x => x.Category), Model.Gear.GearCategory), "--please select--")</div>
                </div>
            </div>
            <button class="button btn-warning">Create!</button>
        }
    </div>
</div>