﻿@model TwoWheelsWeb.ViewModels.ReviewViewModels.ObjectsToReviewViewModel

@{
    Page.Title = "Objects to review";
}

<div>
    <table class="table">
        <thead>
        <tr>
            <th>Model</th>
            <th>Mark</th>
            <th>Category</th>
        </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Objects.Count; i++)
            {
                <tr onclick="@Url.Action("GetReviews", new {id = @Model.Objects[i].ObjectId })">
                    <td>@Model.Objects[i].Model</td>
                    <td>@Model.Objects[i].Mark</td>
                    <td>@Model.Objects[i].GearCategory</td>
                </tr>
            }
        </tbody>
    </table>
</div>

