﻿@using TwoWheelsWeb.ViewModels
@model ReviewViewModels.ObjectReviewsViewModel

@{
    Page.Title = "Reviews";
}

<h3>Reviews</h3>
<br/>
<hr/>
<br/>
@Html.Partial("CreateReview", new ReviewViewModels.CreateReviewViewModel {ObjectId = Model.ObjectId});

<br/>
<hr/>
<div class="grid">
    <div class="row cells2">
        <div class="cell">@Html.LabelFor(x => x.Average)</div>
        <div class="cell">@Model.Average</div>
    </div>
    @if (Model.Reviews == null || Model.Reviews.Count == 0)
    {
        @Html.Raw("There is no reviews")
    }
    else
    {
        for (int i = 0; i < Model.Reviews.Count; i++)
         {
             <div class="row cells2">
                 <div class="cell">@Html.LabelFor(x => x.Reviews[i].Stars)</div>
                 <div class="cell">@Model.Reviews[i].Stars</div>
             </div>
             <div class="row cells2">
                 <div class="cell">@Html.LabelFor(x => x.Reviews[i].Date)</div>
                 <div class="cell">@Model.Reviews[i].Date</div>
             </div>
             <div class="row cells2">
                 <div class="cell">@Html.LabelFor(x => x.Reviews[i].Content)</div>
                 <div class="cell">@Model.Reviews[i].Content</div>
             </div>
         }
    }
</div>