﻿@model TwoWheelsWeb.ViewModels.ReviewViewModels.ReviewMainViewModel
@{
    Page.Title = "Reviews";
}

<h3>Review Module</h3>
<br/>
<hr/>
<a href="@Url.Action("GetObjectsToReview")" class="button btn-warning">Objects to review</a>
<a onclick="createGearCategory()" class="button btn-warning">Create gear category</a>
<a onclick="createGear()"></a>
<br/>
<h4>Reviews from the last week</h4>
<div>
    @if (Model.Reviews == null || Model.Reviews.Count == 0)
    {
        @Html.Raw("There is no reviews")
    }
    else
    {
        for (int i = 0; i < Model.Reviews.Count; i++)
        {
            <div class="grid">
                <div class="row cells2">
                    <div class="cell">@Html.LabelFor(x => x.Reviews[i].Mark)</div>
                    <div class="cell">@Model.Reviews[i].Mark</div>
                </div>
                <div class="row cells2">
                    <div class="cell">@Html.LabelFor(x => x.Reviews[i].Model)</div>
                    <div class="cell">@Model.Reviews[i].Model</div>
                </div>
                <div class="row cells2">
                    <div class="cell">@Html.LabelFor(x => x.Reviews[i].Review)</div>
                    <div class="cell">@Model.Reviews[i].Review</div>
                </div>
            </div>

        }
    }
</div>

<div id="gearCategoryDialog" class="dialog" data-role="dialog" data-overlay="true" data-close-button="true" data-type="warning">
</div>

@section scripts{
    <script type="text/javascript">
        function createGearCategory() {
            $.ajax({
                type: "GET",
                url: "/Review/CreateGearCategory",
                datatype: "html",
                success: function(data) {
                    $('#gearCategoryDialog').html(data);
                    metroDialog.open('#gearCategoryDialog');
                },
                error: function() {
                    alert("Something gone wrong");
                }
            });
        }
    </script>
}