﻿@{
    ViewBag.Title = "Two Wheels";
}

<div>
    <h1>
        Two Wheels
    </h1>
    <h3>Made by motorcyclist for motorcyclists</h3>
    <br/>
    <hr/>
    <br/>
    <a href="@Url.Action("Index", "Motorcycle")"><button>Motorcycle module</button></a>
    <a href="@Url.Action("Index", "Review")"><button>Review module</button></a>
    <a href="@Url.Action("Index", "Forum")"><button>Forum module</button></a>

</div>